@model PagedList.IPagedList<LibraryWeb.Models.Books.BookModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Books";
}

<h2>Index</h2>

<p>
    <div class="col-sm-2"> 
        @Html.ActionLink("Create New", "Create")
    </div>
    <div class="col-sm-1 btn btn-default">
        @Ajax.ActionLink("View All", "Index", new { viewAvailableOnly = false },
        new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "bookList"
        })

    </div>
  <div class="col-sm-2 btn btn-default">
      @Ajax.ActionLink("View Available", "Index",
      new { viewAvailableOnly = true },
      new AjaxOptions
      {
          HttpMethod = "GET",
          InsertionMode = InsertionMode.Replace,
          UpdateTargetId = "bookList"
      })
  </div>
</p>

@Html.Partial("_Books", Model)

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, orderColumn = ViewBag.CurrentSort }))

